
<div class="logo"></div>
<div class="instruction">Press space key to toggle movement</div>
<div class="footer">
    <span>Medi Core</span>
</div>
<script src="js/three.r74.min.js"></script>
<script src="js/index.js"></script>
