<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/index.css">
  </head>
  <body style="padding-left: 0px;padding-top: 50px;padding-right: 0px;padding-bottom: 0px;">
    {{{body}}}
  </body>
</html>
